

  div.mobile_download_section {
    background-color:  var(--v-primary-base);
  }

  div.howcustomer_section {
    background-color:  var(--v-grey-base);
  }

  div.feedback_section {
    background-color: var(--v-primary-base);
  }

 
  