

  button.btn_title_app.v-btn.v-btn--is-elevated.v-btn--has-bg.theme--light {
    font-size: 20px;
    font-weight: bolder;
  }

  button.btn_view_app.v-btn.v-btn--is-elevated.v-btn--has-bg.theme--light{
    border-radius: 10px;
  }
 
  